<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
    <link rel="stylesheet" href="../assets/css/LandS.css">
    <link rel="stylesheet" href="../assets/css/styles.css">

</head>
<body>
    <!-- <header>
       
    </header> -->

    <section id="signupPage">
        <img id="lImg"  src="../assets/images/loginPageImg.png" alt="">
        <form id="form2" action="#" method="post" enctype="multipart/form-data">
            <h2>Sign in to FRAAAMS</h1>
            
             <div id="signupGoogleBar">
                <img height="20px" src="../assets/images/google.png" alt="">
                <p style="font-size: 1rem;">Sign in with Google</p>
             </div>

             <div id="or">
                <div id="l"></div>
                <div> or sign in with email </div>
                <div id="l"></div>
            </div>
            
            <div id="loginDetals">
            <label style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;" for="name">User Name / Email:</label>
            <input type="text" id="box" name="name" required>
            
            <label style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; for="password">Password:</label>
            <input type="password" id="box" name="password" required>

            <a id="createAcc" href="add-facial.html">Sign in</a>

            </div>

            <a id="already" href="signup.html">Don't have Account?</a>
            <!-- <button id="createAcc" onclick="navigateTo('register.html')">Create Account</button> -->
    
        </form>
    </section>

    <footer>
        <p>&copy; 2024 Facial Recognition System. All Rights Reserved.</p>
    </footer>
</body>
</html>
