<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
    <link rel="stylesheet" href="../assets/css/styles.css">
    <link rel="stylesheet" href="../assets/css/LandS.css">
</head>
<body>
   

    <section id="signupPage">
        <img id="sImg" src="../assets/images/registerPageImg.png" alt="">
        
      <!-- <div id="rp"> -->
        <!-- <div id="rpTitle">
            <h2>User Registration</h1>
        </div> -->

        <form id="form2" action="#" method="post" enctype="multipart/form-data">
            <h2 id="ur">User Registration</h1>

         <div id="NewUserDetals">
        
            <label for="name">Full Name:</label>
            <input type="text" id="box" name="name" required>

            <label for="name">Company Name:</label>
            <input type="text" id="box" name="name" required>

            <label for="email">Email:</label>
            <input type="email" id="box" name="email" required>

            <label for="number">Contact Number:</label>
            <input type="tel" id="box" name="number" required>

            <label for="password">Create Password:</label>
            <input type="password" id="box" name="password" required>

            <!-- <label for="facial-image">Upload Facial Image:</label>
            <input type="file" id="box" name="facial-image" accept="image/*" required> -->

            <a href="add-facial.html" id="createAcc" type="submit">Register</a>
        </div>    
        </form>
      <!-- </div> -->
    </section>

    <footer>
        <p>&copy; 2024 Facial Recognition System. All Rights Reserved.</p>
    </footer>
</body>
</html>
