<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
    <link rel="stylesheet" href="../assets/css/LandS.css">
    <link rel="stylesheet" href="../assets/css/styles.css">

</head>
<body>
    <!-- <header>
       
    </header> -->

    <section id="signupPage">
        <img id="sImg" src="../assets/images/signupPageImg.png" alt="">
        <form id="form" action="#" method="post" enctype="multipart/form-data">
            <h2>Sign Up to FRAAAMS</h2>
            
             <div id="signupGoogleBar">
                <img height="20px" src="../assets/images/google.png" alt="">
                <p style="font-size: 1rem;">Signup with Google</p>
             </div>

             <div id="or">
                <div id="l"></div>
                <div> or </div>
                <div id="l"></div>
            </div>
            
            <a id="createAcc" href="register.html">Create Account</a>

            <a id="already" href="login.html">Already have Account</a>
            <!-- <button id="createAcc" onclick="navigateTo('register.html')">Create Account</button> -->
    
        </form>
    </section>

    <footer>
        <p>&copy; 2024 Facial Recognition System. All Rights Reserved.</p>
    </footer>
</body>
</html>
